streamlit
requests

# Cek Upload Produk Shopee
Sebuah aplikasi berbasis Streamlit untuk mengecek tanggal upload produk Shopee, cukup dengan memasukkan link produk.

## Cara Pakai (Lokal)
1. Install Streamlit:
    ```bash
    pip install streamlit
    ```

2. Jalankan Aplikasinya:
    ```bash
    streamlit run cek_upload_shopee_forco.py
    ```

## Conntoh Link Produk Shopee
- https://shopee.co.id/i.386986725.41951718169

## Deploy ke Streamlit Cloud
Repo ini sudah disiapkan agar bisa langsung dideploy ke [streamlit.io/cloud](https://streamlit.io/cloud).

